@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    /* Colors */
    --first-color: #6e57e0;
    --first-color-second: #8470eb;
    --first-color-alt: #5a43cb;
    --title-color: #242329;
    --text-color: #6d6a7c;
    --input-color: #f0eefc;
    --input-background-dark:#49454F;
    --input-dark: #d0bcff;
    --dark: #100f10;
    --dark-light: #1b1b1b;
    --dark-lighter: #242424;
    --lightiest: #f4f4f4;
    --lighter: #aaaaaa;
    --light: #727272;

    /* TRANSITION */
    --transition-dark: all .5s ease;
    --transition-input: all .35s ease-in-out;
    --transition-nav: .35s ease-in;

    /* Font */
    --body-font: 'Poppins', sans-serif;

    /* Font-size */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;
}

@media screen and (min-width: 992px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* GLOBAL */

.section-wrapper {
    margin: 0 1rem;
}

@media screen and (min-width: 576px) {
    .section-wrapper {
        margin-left: 5rem;
        margin-right: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .section-wrapper {
        margin-left: 7rem;
    }
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--lightiest);
    color: var(--text-color);
    transition: var(--transition-dark);
    margin-bottom: 15rem;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

.section__title {
    color: var(--title-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}

.section__subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.btn-outline-purple {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid var(--first-color);
    border-radius: .5rem;
    padding: .375rem 1.2rem;
    background-color: transparent;
    color: var(--first-color);
    overflow: hidden;
}

.btn-outline-purple:hover {
    color: var(--input-color);
    transform: scale(1.08);
}

.btn-outline-purple, .btn-background {
    transition: all var(--transition-nav);
}

.btn-background {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(var(--first-color), var(--first-color));
    z-index: -10;
    border-radius: 50%;
}

.btn-outline-purple:hover .btn-background {
    width: 110%;
    height: 300%;
}

.btn-scroll-top__container {
    position: fixed;
    bottom: 4.5rem;
    right: 1rem;
}

.btn-scroll-top {
    background-color: var(--first-color);
    color: var(--input-color);
    width: 3rem;
    height: 3rem;
    padding: 0;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .3);
}

@media screen and (min-width: 768px) {
    .btn-scroll-top__container {
        bottom: 1rem;
    }
}

/* HEADER SCROLL */
.nav-scroll {
    border-radius: .5rem .5rem 0 0;
    box-shadow: 0 -2px 3px rgba(0, 0, 0, .3);
}

/* NAVBAR */

.header {
    width: 100%;
    background-color: var(--lightiest);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: .5rem 1rem;
    z-index: 5;
}

@media screen and (min-width: 768px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        bottom: initial;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo, .nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color var(--transition-nav);
}

.nav__logo:hover, .nav__toggle:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.65rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--lightiest);
        box-shadow: 0 -2px 3px rgba(0, 0, 0, .3);
        border-radius: .5rem;
        transition: bottom .6s cubic-bezier(.26, .61, .83, .67);
    }
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1.8rem 1rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--normal-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: color var(--transition-nav);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    position: absolute;
    right: 1rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
    transition: color var(--transition-nav);
}

.nav__close:hover {
    color: var(--first-color-alt);
}

@media screen and (min-width: 768px) {
    .nav__menu {
       position: static;
       border-radius: 0;
    }

    .grid {
        display: flex;
    }

    .nav__list {
        padding: 0;
        margin: 1rem 0;
    }

    .nav__toggle, #nav-close {
        display: none;
        overflow: hidden;
    }

    .nav__link .uil {
        display: none;
        overflow: hidden;
    }

    .nav-scroll {
        border-radius: 0;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
    }

    .nav__link {
        position: relative;
    }

    .nav__link::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: var(--first-color);
        transform: scale(0);
        transform-origin: center;
        transition: transform .35s ease-in;
    }

    .nav__link:hover::after {
        transform: scale(1);
    }
}

/* SHOW MENU */

.show-menu {
    bottom: 0;
}

/* HOME */
#home {
    height: 100vh;
}

#home .section__subtitle,  
#home .section__title{
    margin-bottom: .25rem;
}

@media screen and (min-width: 768px) {
    #home {
        margin-top: 6.5rem;
    }
}

.purple {
    color: var(--first-color);
}

.description {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

/* HOME IMAGE */
.home__blob {
    fill: var(--first-color);
}

.home__blob-img {
    width: 150px;
    transform: translate(28px, 35px);
}

/* ABOUT */
#about {
    background-color: var(--first-color-alt);
}

#about, #about .section__title {
    color: var(--lightiest);
}

/* SKILLS */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .4rem .8rem;
    background-color: var(--first-color-second);
    color: var(--input-color);
    border-radius: .8rem;
}

/* CARD */
.portfolio__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.card__container {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .3);
    background-color: var(--lightiest);
    width: 90%;
    height: 65vh;
    transition: all .35s ease-in;
}

.card__container:hover {
    transform: scale(1.08);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 320px) {
    .card__container {
        width: 80%;
        height: 60vh;
    }
}

@media screen and (min-width: 576px) {
    .card__container {
        width: 70%;
        height: 55vh;
    }
}

@media screen and (min-width: 768px) {
    .card__container {
        width: 55%;
        height: 50vh;
    }
}

@media screen and (min-width: 992px) {
    .portfolio__container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .card__container {
        width: 45%;
        height: 70vh;
    }
}

@media screen and (min-width: 1200px) {
    .card__container {
        width: 35%;
        height: 65vh;
    }
}

.card__img {
    height: 40%;
    border-radius: .5rem .5rem 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    padding: .8rem;
}

.card__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.card__title p {
    margin: 0;
}

.card__description {
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.card__footer {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__footer .btn-outline-purple {
    font-size: var(--small-font-size);
}

.icon-link {
    color: var(--first-color);
    font-size: var(--big-font-size);
    transition: all .35s ease-in;
}

.icon-link:hover {
    color: var(--first-color-alt);
    transform: scale(1.08);
}

/* CARD BACKGROUND IMAGE */
.card-todo-list {
    background-image: url(../images/todo-list.svg);
}

.card-employees {
    background-image: url(../images/employees.svg);
}

.card-pokemon {
    background-image: url(../images/pokemon-card.svg);
}

.card-calculator {
    background-image: url(../images/calculator.svg);
}

/* INPUT */

textarea {
    resize: none;
}

.form-label {
    display: flex;
    flex-direction: column;
    gap: .15rem;
    transition: var(--transition-input);
}

.form-label:focus-within {
    color: var(--first-color);
}

.input {
    border: 0;
    border-radius: .3rem .3rem 0 0;
    padding: .15rem;
}

.input-control {
    background-color: var(--lightiest);
    border-bottom: 1px solid var(--light);
    color: var(--text-color);
    transition: var(--transition-input);
}

.input-control::placeholder {
    color: var(--lighter);
    transition: var(--transition-input);
}

.input-control:focus {
    outline: none;
    border-color: var(--first-color);
}

.input-control:focus::placeholder {
    color: transparent;
}

.form-label-dark {
    color: var(--input-dark);
}

.form-label-dark:focus-within {
    color: var(--first-color);
}

.input-control-dark {
    background-color: var(--input-background-dark);
    color: var(--lightiest);
    border-color: var(--input-dark);
}

.input-control-dark:focus {
    border-color: var(--first-color);
}

.input-control-dark::placeholder {
    color: var(--lighter);
}


/* DARK MODE BUTTON */

/*  BTN DARK MODE WRAPPER */
.btn-dark-mode__wrapper {
    position: fixed;
    top: .5rem;
    right: .5rem;
}
/* BTN DARK MODE CHECKBOX */
#btn-dark-mode {
    position: absolute;
    opacity: 0;
}

/* BTN DARK MODE ICONS AND BALL CONTAINER */
.btn-dark-mode__icons-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 5rem;
    height: 2.5rem;
    border-radius: 5rem;
    padding: .25rem; */
    width: 3rem;
    height: 1.5rem;
    padding: .125rem;
    border-radius: 1.5rem;
    background-color: var(--dark-light);
    cursor: pointer;
    transition: var(--transition-dark);
}

/* BTN DARK MODE ICONS */
.btn-dark-mode__icons-container > i {
    /* font-size: 1.35rem; */
    font-size: 1.15rem;
    color: var(--lighter);
    transition: var(--transition-dark);
}

/* BTN DARK MODE BALL */
.ball {
    position: absolute;
    /* width: 2rem;
    height: 2rem; */
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: var(--lightiest);
    transform: translate(0);
    transition: var(--transition-dark);
}

#btn-dark-mode:checked + label .ball {
    /* transform: translateX(2.5rem); */
    transform: translateX(1.5rem);
}

@media screen and (min-width: 768px) {
    .btn-dark-mode__wrapper {
        position: static;
    }
}

.dark-background {
    background-color: var(--dark) !important;
}

.dark-light-background {
    background-color: var(--dark-light) !important;
}

.lightiest-background {
    background-color: var(--lightiest) !important; 
}

.dark-font {
    color: var(--dark-light) !important;
}

.lightiest-font {
    color: var(--lightiest);
}

.lighter-font {
    color: var(--lighter) !important;
    transition: color .35s ease-in;
}

.nav .lighter-font:hover{
    color: var(--first-color) !important; 
}

/* CONTACT SECTION */

.contact__container {
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .3);
    border-radius: .5rem;
}

.contact-form__container {
    background-color: #f1f1f1;
    border-radius: .5rem .5rem 0 0;
}

.contact-info__container {
    color: var(--lightiest);
    background-color: var(--first-color-alt);
    border-radius: 0 0 .5rem .5rem;
}

@media screen and (min-width: 768px) {
    .contact-form__container {
        border-radius: 0 .5rem .5rem 0;
    }

    .contact-info__container {
        border-radius: .5rem 0 0 .5rem;
    }
}

.contact-icons__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .8rem;
}

.contact-icon__link {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .8rem;
    color: var(--lightiest);
    word-break: break-all;   
}

.contact-icon__link:hover {
    color: #d8d8d8;
}

.contact-icon__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--lightiest);
    transform: scale(0);
    transform-origin: center;
    transition: var(--transition-input);
}

.contact-icon__link:hover::after {
    transform: scale(1);
}

.contact-icon__link i {
    font-size: 1.5rem;
}

.contact-dark {
    background-color: var(--dark-lighter);
}


